/* GLOBALS */
:root{
    /*Insert variables and other such items here*/
    --nav-size: 3vw;
    --site-size: calc(100vw - var(--nav-size));
    --intro-txt-glow-color: #ffffff;
}
* {
    user-select: none;
    overscroll-behavior: none;
}

/* Scrollbar stuff */
@-moz-document url-prefix() { /* Disable scrollbar for Firefox */
    html{
      scrollbar-width: none;
    }
  }
  body {
    margin: 0; /* remove default margin */
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
  }
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
  }

.intro {
    vertical-align: middle;
    width: var(--site-size);
    height: 100vh;
}

.intro-img {
    width: 100vw;
    height: 100vh;
    overflow: cover;
}

.intro-text {
    position: relative;
    text-align: left;
    padding-left: 15vw;
    top: -50%;
    text-shadow: 0 0 10px var(--intro-txt-glow-color), 0 0 20px var(--intro-txt-glow-color), 0 0 30px var(--intro-txt-glow-color), 0 0 40px var(--intro-txt-glow-color), 
    0 0 50px var(--intro-txt-glow-color), 0 0 60px var(--intro-txt-glow-color), 0 0 70px var(--intro-txt-glow-color); 
}

.intro-title {
    font-size: 7.5vw;
}

.intro-blurb {
    font-family:"JetBrains Mono", monospace;
    font-size: 2.5vw;
    letter-spacing: -0.2vw;
}

.scroll-stuff {
  position: absolute;
}

.scroll-text {
  color: #ffffff;
}

.scroll-reminder {
  top: 90%;
  left: 94%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  transform: rotate(90deg);
}
  
.arrow {
  position: absolute;
  top: 15px;
  width: 50%;
  height: 5px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}
  
.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 5px;
  right: -4px;
  background-color: #fff;
}
  
.arrow::after {
  top: -6px;
  transform: rotate(45deg); 
}
  
.arrow::before {
  top: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.about {
  
}
 